.dashboard-page {
    height: 100%;
}

.dashboard-window {
    
    max-height: 400px;
    border: solid lightgrey 2px;
    box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 25px;
    padding: 10px;
}